.git
.github
.env
.env.*
**/.env
**/.env.*
.local-certs
**/build
**/.gradle
**/CMakeFiles
**/CMakeCache.txt
**/cmake_install.cmake
**/Testing
**/*.key
**/*-key.pem
**/certs
**/tls
cpp/third_party/uWebSockets/fuzzing
cpp/third_party/uWebSockets/h1spec
cpp/third_party/uWebSockets/benchmarks
cpp/third_party/uWebSockets/examples
cpp/third_party/uWebSockets/tests
cpp/third_party/uWebSockets/libdeflate
cpp/third_party/uWebSockets/uSockets/boringssl
cpp/third_party/uWebSockets/uSockets/lsquic
cpp/third_party/uWebSockets/uSockets/examples
cpp/third_party/jwt-cpp/.github
cpp/third_party/jwt-cpp/docs
cpp/third_party/jwt-cpp/example
cpp/third_party/jwt-cpp/tests
node_modules
